.method {
  cursor: pointer;
}

.method::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: -3px;
  left: -10px;
  border-left: 2px solid #240090;
  border-top: 2px solid #240090;
  transition: 0.5s;
}

.method::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: -3px;
  right: -10px;
  border-right: 2px solid #3500d3;
  border-top: 2px solid #3500d3;
  transition: 0.5s;
}

.method span::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -3px;
  right: -10px;
  border-right: 2px solid #240090;
  border-bottom: 2px solid #240090;
  transition: 0.5s;
}

.method span::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -3px;
  left: -10px;
  border-left: 2px solid #3500d3;
  border-bottom: 2px solid #3500d3;
  transition: 0.5s;
}

.method:hover::after,
.method:hover::before,
.method:hover span::after,
.method:hover span::before {
  width: calc(50% + 10px);
  height: calc(50% + 3px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
